# IGNORA TODO MUNDO...
*
!*/

# PERMITE OS ARQUIVOS IMPORTANTES DE CÓDIGO E CONFIG
!*.uproject
!*.cpp
!*.h
!*.ini
!*.json
!*.uplugin
!*.umap
!*.uasset
!*.ubulk
!*.ufont
!*.ushaderbytecode
!*.usf
!*.ush
!*.hlsl

# PERMITE TODA A PASTA CONTENT
!Content/**

# MAS IGNORA ALGUMAS COISAS INÚTEIS DENTRO DELA
Content/Developers/
Content/Collections/
Content/_Test/
Content/**/Lightmap-*

# IGNORA PASTAS TEMPORÁRIAS
Saved/
Intermediate/
DerivedDataCache/
.vs/
.idea/
*.sdf
*.suo
*.user
*.opensdf

# IGNORA LOGS E TEMPOS
*.log
*.tmp
*.cache
*.db
*.bak
*.dmp

# IGNORA CONFIGS DE IDE
.vscode/
.DS_Store
Thumbs.db